<form style="text-align:center;" method="POST" action="/members/<%= @member.id %>/update">

  <label for="first-name">First Name</label>
  <input style="text-align:center;" type="text" name="first_name" id="first-name">
  <br>
  <br>
  <br>
  <br>

    <label for="last-name">Last Name</label>
  <input style="text-align:center;"  type="text" name="last_name" id="last-name" >
  <br>
  <br>
  <br>
  <br>
  
  <input type="submit" value="Update">
</form>
