<h1 style="text-align:center;">Add a member</h1>

<form style="text-align:center;" action="/members" method="post">
  <br>
  <br>
  <br>
  <br>

  <label for="first-name">First Name</label>
  <input type="text" name="first_name" id="first-name">
  <br>
  <br>
  <br>
  <br>

  <label for="last-name">Last Name</label>
  <input type="text" name="last_name" id="last-name">
  <br>
  <br>
  <br>
  <br>

  <label for="activity-select">Select activity</label>
  <select id="activity-select" id="activity_id">
      <option Selected Disabled>Select Activity</option>
      <% for activity in @activities %>
      <option value=<%= activity.id %>><%= activity.name %></option>
      <% end %>
    </select>
    <br>
    <br>
    <br>
    <br>

  <input type="submit" value="Add Member">

</form>
