<form style="text-align:center;" method="POST" action="/activities/<%= @activity.id %>/update">

  <label for="name">Name</label>
  <input style="text-align:center;" type="text" name="name" id="name">
  <br>
  <br>
  <br>
  <br>

    <label for="name">Time</label>
  <input style="text-align:center;"  type="text" name="date_and_time" id="date-and-time" placeholder=" dd/mm/yyyy">
  <br>
  <br>
  <br>
  <br>

  <input type="submit" value="Update">
</form>
