<h1 style="text-align:center;">Activities</h1>
<% for activity in @activities %>
  <br>
  <h3 style="text-align:center;"> Activity Name: <%= activity.name %> </h3>
  <h4 style="text-align:center;"> <a href="/activities/<%= activity.id %>/members/index">Show members in activity</a> </h4>

  <br>
  <hr>
<% end %>
