<h1 style="text-align:center;">The gym</h1>
<br>
<h2 style="text-align:center;"> <a href="/bookings">View all bookings</a> </h2>
<h3 style="text-align:center;"> <a href="/members">View all members</a> </h3>
<h3 style="text-align:center;"> <a href="/activities">Find activities</a> </h3>
<h3 style="text-align:center;"> <a href="/members/new">Add member</a> </h3>
<br>
