<!DOCTYPE html>
<html>

<head>
  <title>The gym</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/logo_gym.png" />
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">


</head>


<body>

<main>
  <nav>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>

</body>

</html>
