<!DOCTYPE html>
<html>
<head>
  <title>Ti gym</title>
  <h2 title="I'm a header">The focken gym!</h2>

  <link rel="shortcut icon" type="image/x-icon" href="/images/logo_gym.png" />



  <link rel="stylesheet" type="text/css" href="/styles/structure.css">

</head>
<body>
<main class="row">
  <nav>
    <ul>
      <li>
        <a href="/members">Members</a>
      </li>
      <li>
        <a href="/activities">Activities</a>
      </li>
      <li>
        <a href="/bookings">Bookings</a>
      </li>
    </ul>
  </nav>
  <section id="content">
  <%= yield %>
  </section>
  </main>
</body>
</html>
