<h1 style="text-align:center;">Bookings</h1>

<p
  <a style="text-align:center;"  href="../new"></a>
</p>

<ul>
  <% for booking in @bookings %>
  <li style="text-align:center;">
  <p>The member: <%= booking.member.first_name %> has booked <%= booking.activity.name %> for the
  <%= booking.activity.date_and_time %></p>
    <p>
      <form action="/bookings/<%= booking.id %>/delete" method="POST">
        <input type="submit" value="delete" />
      </form>

   </p>
  </li>
  <% end %>
</ul>
