body {
   background: white
  color: blue;
  font-family: 'Times New Roman', serif;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 100px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Sans-serif', cursive;
  margin: 25px;
  padding: 0px;
}

h1 {
  font-size: 6.00em;
  color: purple;
  margin-bottom: 50px;
}
main {
  padding: 25px;
  font-size: 2.00em;
}

.row {
  display: flex;
 flex-direction:initial;
}
}
